body {
    margin: 0;
    padding: 0;
    background-color: #5D4040;
}


.home {
    width: 360px;
    height: 200px;
    position: relative;
    top: 30px;
    left: 5%;
}

.bugue {
    width: 125px;
    height: 125px;
    position: relative;
    top: -55px;
    left: 75%
}


.sobre {
    width: 370px;
    height: 220px;
    position: relative;
    top: -30px;
    left: 4%;
}

.foto {
    width: 105px;
    height: 105px;
    z-index: 100;
    position: relative;
    top: 130px;
    left: -105px;
    border-radius: 50%;
}
