body {
    margin: 0;
    padding: 0;
    background-color: #510300;
}


.home {
    width: 360px;
    height: 200px;
    position: relative;
    top: 30px;
    left: 5%;
}

.bugue {
    width: 125px;
    height: 125px;
    position: relative;
    top: -55px;
    left: 75%
}


.sobre {
    width: 370px;
    height: 220px;
    position: relative;
    top: -30px;
    left: 4%;
}

.foto {
    width: 90px;
    height: 90px;
    z-index: 100;
    position: relative;
    top: 130px;
    left: -95px;
    border-radius: 50%;
}


.porque {
    background-color: #F0DEC0;
    width: 200px;
    height: 45px;
    color: black;
    font-size: 2em;
    position: relative;
    text-align: center;
    top: 10px;
    left: 26.5%;
}
