body {
    margin: 0;
    padding: 0;
    background-color: #5D4040;
}



.home {
    width: 360px;
    height: 200px;
    position: relative;
    top: 30px;
    left: 5%;
}


.sobre {
    width: 370px;
    height: 220px;
    position: relative;
    top: 70px;
    left: 2.5%;
}
